
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*Texto del perfil*/
.Texto-Perfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.Texto-Perfil .ImgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.Texto-Perfil .ImgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Texto-Perfil h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.Texto-Perfil ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.Texto-Perfil ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.Texto-Perfil ul li span{
    color: #fff;
    font-weight: 300;
}

/*Contenedores*/
.Contenedor{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.Contenedor .lado-Izquierdo{
    position: relative;
    background: #003147;
    padding: 40px;

}

.Contenedor .lado-Derecho{
    position: relative;
    background: #fff;
    padding: 40px;
    
}

/*Informacion de contacto*/

.Contacto-Informacion{
    padding: 40px;
    
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.Contacto-Informacion ul{
    position: relative;
}

.Contacto-Informacion ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.Contacto-Informacion ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.Contacto-Informacion ul li span{
    color: #fff;
    font-weight: 300;
}

/*Informacion Educativa*/
.Educativo-Informacion li {
    margin-bottom: 15px;
}

.Educativo-Informacion h5{
    color: #03a9f4;
    font-weight: 500;
}

.Educativo-Informacion h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.Educativo-Informacion h4{
    color: #fff;
    font-weight: 300;
}

/*perfil sobre my*/

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #333;
}

/*Trainings*/

.about-Trainings .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 240px 1fr;
    justify-content: center;
    align-items: center;
}

.about-Trainings .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.about-Trainings .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.about-Trainings .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

/*tabla*/

.contenedorT table{
    color: #848c99;
    table-layout: fixed;
    border-collapse: collapse;
    
}

thead{
    background: rgba(9, 193, 255, 0.367);
}

th{
    padding: 5px 25px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 2px rgba(10, 169, 222, 0.966);
}

tbody tr:hover{
    background: rgba(10, 169, 222, 0.159);
}